# Data directory
*/user_data/*
!*/user_data/README.md

# Angular specific files
.angular/
*.log
*.tsbuildinfo
dist/
tmp/
out-tsc/
coverage/
.idea/
.vscode/
.DS_Store
node_modules/

# Python specific files
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.pytest_cache/
htmlcov/
.coverage
*.cover
